#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1.header > {
  font-size: 1rem;
}

.logged-in-wrapper {
  height: 60px;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}

nav {
  padding: 20px;
}

nav > a > button {
  width: 300px;
  height: 100px;
  margin: 10px;
  font-size: 1.5rem;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  list-style-type: none;
  padding: 0;
}

li > img {
  width: 400px;
  height: auto;
  border-radius: 30px;
}

.topic-button {
  width: 300px;
  height: 100px;
  font-size: 2rem;
}

.sortby-button {
  margin: 5px;
}

.order-button {
  margin-left: 10px;
}

label {
  display: block;
  margin: 10px;
}

.voter {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.article-img {
  width: 500px;
  border-radius: 30px;
}

.voter button {
  margin: 10px;
}

.comment-section {
  margin-top: 20px;
  width: 60%;
}

.comments-list {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 0;
}

.comment-label,
.comment-input,
.post-comment,
.show-comments-btn {
  display: flex;
  align-items: left;
}

.comment-label {
  margin-bottom: 10px;
}

.post-comment {
  margin-top: 10px;
}

.sent-msg {
  font-size: 0.7rem;
  margin-left: 10px;
}

.comment {
  display: grid;
  padding: 5px;
  grid-template-columns: 1fr;
}

.comment-header {
  height: 45px;
  padding: 5px 5px 5px 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
}

.comment-body {
  border: 1px solid white;
  padding: 5px 5px 5px 10px;
  display: inline-flex;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  align-items: flex-start;
  text-align: left;
}

@media only screen and (max-width: 1380px) {
  ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 1000px) {
  li > img {
    width: 250px;
  }
}

@media only screen and (max-width: 600px) {
  ul {
    grid-template-columns: 1fr;
  }
  li {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 560px) {
  li > img {
    width: 250px;
  }

  li > h3 {
    font-size: 0.9rem;
  }
}
