#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  list-style-type: none;
  padding: 0;
}

img {
  width: 500px;
  height: auto;
  border-radius: 30px;
}

label {
  display: block;
  margin: 10px;
}

.voter {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.voter button {
  margin: 10px;
}

.comment-section {
  margin: 30px;
}

.comment-field {
  margin-bottom: 30px;
}
@media only screen and (max-width: 1100px) {
  ul {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 560px) {
  li > img {
    width: 250px;
  }

  li > h3 {
    font-size: 0.9rem;
  }
}
